

.footer{
    width: 100vw;
    margin-top: 80px;
    position: relative;
    &__footerContainer{
        width: 100vw;
    ::before{
        display: flex;
        justify-content: center;
        align-items: center;
        content: '';
        position: relative;
        background-color: #e5e5f7;
        width: 100vw;
        height: 15px;
opacity: 0.8;
background: linear-gradient(135deg, #fafaff55 25%, transparent 25%) -11px 0/ 22px 22px, linear-gradient(225deg, #fafaff 25%, transparent 25%) -11px 0/ 22px 22px, linear-gradient(315deg, #fafaff55 25%, transparent 25%) 0px 0/ 22px 22px, linear-gradient(45deg, #fafaff 25%, #e5e5f7 25%) 0px 0/ 22px 22px;
    }
    &__heading{
        width: 100%;
    }
    &__animationImage{
        width: 80px;
        height: 80px;
        object-fit: cover;
        animation: move 60s ease-in-out infinite;
        position: absolute;
        bottom: 5px;
    }
}
}

.custom_shape_divider_top_1667546928 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
     opacity: 0.5;
    
}

.custom_shape_divider_top_1667546928 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

 .shape_fill {
    fill:  #6A82FB;
}


@keyframes move {
    0%{
        left: 0vw;
    }
    50%{
        left: 100vw;
    }
    100%{
        left: 0vw;
        transform: rotateY(180deg);

    }
}
