@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: var(--body-font);
}

html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 65.3%; /*Normalizing the font size to 10px rem =10px*/
  /* background-color: #e4e6ec; */
  /* background-color: #1f2028; */
  /* background-color: #1f2028; */
}
/* Set core body defaults */
body {
  /* min-height: 100vh; */
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
html:focus-within {
  scroll-behavior: smooth;
}
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
ul,
dd {
  margin: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    /* background: black; */
  }
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.darkmode {
  --color-font-one: #fafafa;
  --color-font-two: #1a1a1c;
  --color-font-white: #fafafa;
  --color-font-black: #1a1a1c;
  --color-one: #292b30;
  --color-two: #32343a;
  --color-three: #fafafa;
  --color-four: #1a1a1c;
  --color-five: #222226;
  --color-six: #26282b;
  --color-seven: #292b30;
  --color-white: #fafafa;
  --color-black: #1a1a1c;
  --color-body: #1a1a1c;
  --color-border-one: #303237;
  --color-border-two: #5e6265;
  --opacity-one: 0.8;
  --opacity-two: 0.6;
  --opacity-three: rgba(0, 0, 0, 0.06);
  --opacity-four: rgba(0, 0, 0, 0.1);
  --opacity-cover: 0.15;
  --opacity-cover-custom: 0.1;
  --opacity-search: rgba(0, 0, 0, 0.3);
}
input {
  outline: none !important;
  border-style: solid;
}

::placeholder {
  /* Most modern browsers support this now. */
  opacity: 0.4;
}
button {
  cursor: pointer;
}
